<footer>
    <div class="footer-container">
        <p>© 2024 BRiiZE. All rights reserved.</p>
        <div class="footer-links">
            <a href="https://www.linkedin.com/in/robinchae/">LinkedIn</a>
            <a href="mailto:info1308208@gmail.com">Contact Us</a>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: inherit;
        color: #007bff; 
        padding: 5px 0; 
        width: 100%; 
        bottom: 0; 
        z-index: 1000;
    }

    .footer-container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .footer-links a {
        color: #000000; 
        text-decoration: none; 
        margin: 0 10px; 
    }

    .footer-links a:hover {
        color: #007bff; 
        text-decoration: underline; 
    }
</style>