<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRiiZE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Protest+Strike&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a href="/BRiiZE" class="name">BRiiZE</a>
            <a href="/new" class="nav">List your Special Scent</a>
            <!-- <a href="/wishList" class="nav">Wish List</a> -->
            <a href="/account" class="nav">Account</a>
        </div>
    </div>
</body>
</html>

<style>
    body { 
        background-color: #f0f0f0; 
        padding-top: 60px;
    }
    .navbar {
        display: flex;
        justify-content: space-between; 
        background-color: #333; 
        padding: 10px 20px; 
        position: fixed;
        width: 100%; 
        top: 0; 
        z-index: 1000; 
    }

    .container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between; 
    }

    .navbar a {
        color: #fff; 
        text-decoration: none;
        font-weight: 500;
    }

    .navbar a:hover {
        color: #007bff; 
        text-decoration: underline; 
    }
    .name{
        font-size: 28px;
        font-family: "Inconsolata", monospace;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        font-variation-settings:"wdth" 100;
    }
</style>