<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armors</title>
    <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>
    <%- include ('../partials/header.ejs') %>

    <h1>You are in Armors Index Page</h1>
</body>
</html>