<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <!--I learned how to make the columns through Skeleton website-->
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="twelve columns" style="margin-bottom: 20px;">
                <h2>Best Scents of Spring & Summer</h2>
                <p>
                    Discover the essence of the season with our Spring & Summer fragrance collection, a delightful assortment crafted to capture the spirit of warm days and blooming gardens. Immerse yourself in scents that evoke the freshness of a summer breeze and the blossoming flowers of spring. From the vibrant notes of citrus to the soft embrace of floral bouquets, our collection offers a range of fragrances to elevate your senses and transport you to a sunny paradise. Embrace the carefree vibes of summer and the rejuvenating aura of spring with our carefully curated scents, perfect for adding a touch of nature's beauty to your everyday moments.
                </p>
                <a href="/BRiiZE/springSummer">Browse Collection</a>
            </div>

            <div class="twelve columns" style="margin-bottom: 20px;">
                <h2>Best Scents of Fall & Winter</h2>
                <p>
                    Discover the enchanting essence of the Fall & Winter season with our curated collection of fragrances. Embrace the cozy warmth and comforting aromas that evoke the spirit of autumn leaves and winter nights. From rich, earthy notes to crisp, invigorating scents, our collection offers something for every mood and occasion. Whether you're drawn to the spicy sweetness of cinnamon and vanilla or the fresh, crisp air of pine and cedarwood, our Fall & Winter fragrance collection invites you to indulge in the magic of the changing seasons. Wrap yourself in the cozy embrace of these captivating scents and let them transport you to a world of timeless elegance and seasonal delight.
                </p>
                <a href="/BRiiZE/fallWinter">Browse Collection</a>
            </div>

            <div class="twelve columns" style="margin-bottom: 20px;">
                <h2>Best Collections for Men</h2>
                <p>
                    Introducing our best men's cologne collection, where sophistication meets style and every scent tells a story. From fresh and invigorating fragrances perfect for everyday wear to bold and captivating scents designed for special occasions, our collection offers something for every man. Whether you're seeking a classic scent that stands the test of time or a modern twist on tradition, our carefully curated selection includes top-notch fragrances that will elevate your grooming routine and leave a lasting impression wherever you go. Explore our collection today and discover the perfect scent to complement your unique personality and lifestyle.
                </p>
                <a href="/BRiiZE/menCologne">Browse Collection</a>
            </div>

            <div class="twelve columns" style="margin-bottom: 20px;">
                <h2>Special Collections</h2>
                <p>
                    Explore our Special Collection for unique and rare fragrances that stand out from the rest. Each scent in this collection is chosen for its distinctive notes and unparalleled quality, offering something truly exceptional for fragrance aficionados. Whether you're looking to treat yourself or find a memorable gift, our Special Collection is the perfect place to discover your next signature scent.
                </p>
                <a href="/BRiiZE/special">Browse Special Collection</a>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    body{
        background-image:url('/public/photos/black1.jpeg');
        background-size: cover !important; 
        background-position: center !important; 
        background-repeat: no-repeat !important;
        height: 100vh !important; 
    }
</style>

<%- include('./partials/footer.ejs') %>
