<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/app.css">

</head>
<body>
    <%- include ('./partials/header.ejs') %>

    <h1>This is Home Page</h1>  
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card card-1">
                    <!-- <img src="../public/photos/melee-background.jpeg" class="card-img-top" alt="Image for Card 1"> -->
                    <div class="card-body">
                        <h5 class="card-title">Best Scents of Spring & Summer</h5>
                        <p class="card-text">
                            Discover the essence of the season with our Spring & Summer fragrance collection, a delightful assortment crafted to capture the spirit of warm days and blooming gardens. Immerse yourself in scents that evoke the freshness of a summer breeze and the blossoming flowers of spring. From the vibrant notes of citrus to the soft embrace of floral bouquets, our collection offers a range of fragrances to elevate your senses and transport you to a sunny paradise. Embrace the carefree vibes of summer and the rejuvenating aura of spring with our carefully curated scents, perfect for adding a touch of nature's beauty to your everyday moments.</p>
                        <a href="/BRiiZE/springSummer" class="btn btn-primary">Browse Collection</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-2">
                    <div class="card-body">
                        <h5 class="card-title">Best Scents of Fall & Winter</h5>
                        <p class="card-text">Discover the enchanting essence of the Fall & Winter season with our curated collection of fragrances. Embrace the cozy warmth and comforting aromas that evoke the spirit of autumn leaves and winter nights. From rich, earthy notes to crisp, invigorating scents, our collection offers something for every mood and occasion. Whether you're drawn to the spicy sweetness of cinnamon and vanilla or the fresh, crisp air of pine and cedarwood, our Fall & Winter fragrance collection invites you to indulge in the magic of the changing seasons. Wrap yourself in the cozy embrace of these captivating scents and let them transport you to a world of timeless elegance and seasonal delight.</p>
                        <a href="/BRiiZE/fallWinter" class="btn btn-primary">Browse Collection</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-3">
                    <div class="card-body">
                        <h5 class="card-title">Best Collection for Men</h5>
                        <p class="card-text">Introducing our best men's cologne collection, where sophistication meets style and every scent tells a story. From fresh and invigorating fragrances perfect for everyday wear to bold and captivating scents designed for special occasions, our collection offers something for every man. Whether you're seeking a classic scent that stands the test of time or a modern twist on tradition, our carefully curated selection includes top-notch fragrances that will elevate your grooming routine and leave a lasting impression wherever you go. Explore our collection today and discover the perfect scent to complement your unique personality and lifestyle.</p>
                        <a href="/BRiiZE/menCologne" class="btn btn-primary">Browse Collection</a>
                    </div>
                </div>
            </div>
             <div class="col-md-4 mb-4">
                <div class="card card-4">
                    <div class="card-body">
                        <h5 class="card-title">Special Collection</h5>
                        <p class="card-text">Description of Category 4</p>
                        <a href="/BRiiZE/special" class="btn btn-primary">Browse Special Collection</a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4 mb-4">
                <div class="card card-5">
                    <div class="card-body">
                        <h5 class="card-title">Armors</h5>
                        <p class="card-text">Description of Category 5</p>
                        <a href="/home/armor" class="btn btn-primary">Browse Armors</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-6">
                    <div class="card-body">
                        <h5 class="card-title">Must have Items</h5>
                        <p class="card-text">Description of Category 6</p>
                        <a href="/home/mustHaveItem" class="btn btn-primary">Browse Must have Items</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    
    
</body>
</html>

<style>
    .card{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .card-1 {
        background-image: url(../public/photos/melee-background.jpeg);
    }
    body{
        background: url(../public/photos/melee-background.jpeg);
        background-color: black;
    }
</style>