<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart Page</title>
    <link rel="stylesheet" href="/public/css/app.css">

</head>
<body>
    <%- include ('./partials/header.ejs') %>

    <h1>You are Wish List Page Page</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Wish List</h5>
                        <ul class="list-group">
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>